* {
  margin: 0;
  padding: 0;
}
body,
html {
  height: 100%;
}

body {
  background-color: white;
  background-image:
    linear-gradient(
      to top right, 
      #4B6F44, #87A96B, #8F9779
    );
}

.form-horizontal {
    display:block;
    width:25em;
    margin:2em auto 20em;;
  }

  .flexbox {
    height: 100%;
  }

  .main_nav {
    background-color: #f5eec2;
  }
