<!DOCTYPE html>
<html>

<head>
    <title>Employee Profile</title>
    <!-- Load Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- Set viewport to ensure proper rendering on mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        /* Center table on the page */
        table {
            margin: auto;
        }

        /* Hide the Save button initially */
        #save-button {
            display: none;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1 class="text-center">Employee Profile</h1>
        <div class="row">
            <div class="col-md-6">
                <table class="table">
                    <tbody>
                        <tr>
                            <td><strong>Employee ID</strong></td>
                            <td>{{empid}}</td>
                        </tr>
                        <tr>
                            <td><strong>First Name</strong></td>
                            <td><input id="eInput" type="text" value="{{fname}}" disabled></td>
                        </tr>
                        <tr>
                            <td><strong>Last Name</strong></td>
                            <td><input id="eInput" type="text" value="{{lname}}" disabled></td>
                        </tr>
                        <tr>
                            <td><strong>Date of Birth</strong></td>
                            <td>{{dob}}</td>
                        </tr>
                        <tr>
                            <td><strong>Street Address</strong></td>
                            <td><input id="eInput" type="text" value="{{streetadd}}" disabled></td>
                        </tr>
                        <tr>
                            <td><strong>City/State</strong></td>
                            <td><input id="eInput" type="text" value="{{city_state}}" disabled></td>
                        </tr>
                        <tr>
                            <td><strong>Country Code</strong></td>
                            <td><input id="eInput" type="text" value="{{country}}" disabled></td>
                        </tr>
                    </tbody>
                </table>
                <button id="edit-button" class="btn btn-primary">Edit</button>
                <button id="save-button" class="btn btn-success">Save</button>
            </div>
            <div class="col-md-6">
                <table class="table">
                    <tbody>
                        <tr>
                            <td><strong>Start Date</strong></td>
                            <td>{{s_date}}</td>
                        </tr>
                        <tr>
                            <td><strong>Office</strong></td>
                            <td>{{office}}</td>
                        </tr>
                        <tr>
                            <td><strong>Department</strong></td>
                            <td>{{dept}}</td>
                        </tr>
                        <tr>
                            <td><strong>Compensation</strong></td>
                            <td>{{comp}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Load jQuery and Bootstrap JavaScript -->
    <!-- Load jQuery and Bootstrap JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src = "./static/js/profilepage.js"></script>
</body>

</html>